<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbookstore">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppBookstore"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity">


        </activity>

        <activity
            android:name=".Home"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".layout_Detail1"
            android:exported="true">


        </activity>

        <activity
            android:name=".layout_Detail_SachTK">

        </activity>
        <activity
            android:name=".layout_Detail_XemDanhGia"
            android:parentActivityName=".layout_Detail1" />
        <activity
            android:name=".layout_Detail_DanhGiaSach"
            android:parentActivityName=".layout_Detail1" />
        <activity
            android:name=".layout_Detail_GTTacGia"
            android:parentActivityName=".layout_Detail1" />
        <activity
            android:name=".layout_Detail_GioiThieuSach"
            android:parentActivityName=".layout_Detail1" />

        <activity
            android:name=".dialog_enter_newpassword"
            android:exported="false" />
        <activity
            android:name=".dialog_enter_oldPassword"
            android:exported="false" />
        <activity
            android:name=".dialog_change_email"
            android:exported="false" />
        <activity
            android:name=".dialog_change_phonenumber"
            android:exported="false" />
        <activity
            android:name=".exchange_coins"
            android:exported="false" />
        <activity
            android:name=".add_bank_account"
            android:exported="false" />
        <activity
            android:name=".bank_account"
            android:exported="false" />
        <activity
            android:name=".change_information_personal"
            android:exported="false" />
        <activity
            android:name=".details_personal_info"
            android:exported="false" />
        <activity
            android:name=".profile_bookstore"
            android:exported="true">


        </activity>
        <activity
            android:name=".ReadBook"
            android:exported="true">

        </activity>
    </application>

</manifest>